/*******************************/
/********* General CSS *********/
/*******************************/
:root {
    --rich-pruple: #3a0ca3;
    --purple: #500650;
    --gold: #efac00;
  }
  
  body {
    color: #666666;
    background: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
  }
  
  a {
    color: #454545;
    transition: 0.3s;
  }
  
  a:hover,
  a:active,
  a:focus {
    color: #333333;
    outline: none;
    text-decoration: none;
  }
  
  .btn:focus {
    box-shadow: none;
  }
  
  .wrapper {
    position: relative;
    width: 100%;
    /* max-width: 1366px; */
    margin: 0 auto;
    background: #ffffff;
  }
  
  /********** Header CSS *********/
  
  .header {
    position: relative;
    width: 100%;
    padding: 15px 0 0 0;
    background: #00539c;
  }
  
  .header .home {
    margin-bottom: 45px;
    background: linear-gradient(
        rgba(0, 83, 156, 1),
        rgba(0, 83, 156, 0.9),
        rgba(0, 83, 156, 1)
      ),
      url(../img/b1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @media (min-width: 992px) {
    .header .row {
      padding: 0 60px;
    }
  }
  
  .header .header-top {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #3a0ca3;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .header .brand a {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
  }
  
  @media (min-width: 992px) {
    .header .navbar {
      background: transparent !important;
    }
  
    .header .navbar-brand {
      display: none;
    }
  
    .header .navbar-light a.nav-link,
    .header .navbar-light .show > .nav-link {
      position: relative;
      padding: 8px 10px;
      color: #ffffff;
      font-size: 16px;
      z-index: 1;
    }
  
    .header .navbar-light a.nav-link:hover,
    .header .navbar-light a.nav-link.active {
      color: gold;
    }
  }
  
  @media (max-width: 992px) {
    .header .brand {
      text-align: center;
      margin-bottom: 15px;
    }
  
    .header .navbar {
      background: #ffffff !important;
      border: none;
      z-index: 0;
    }
  
    .header a.nav-link {
      padding: 5px 0;
    }
  
    .header .dropdown-menu {
      box-shadow: none;
    }
  }
  
  .header .navbar .btn {
    position: relative;
    margin-left: 15px;
    padding: 12px 20px 10px 20px;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background: gold;
    transition: 0.3s;
  }
  
  .header .navbar .btn:hover {
    color: #fff;
    background: purple;
  }
  
  .header .navbar .btn i {
    font-size: 16px;
    margin-right: 8px;
  }
  
  @media (max-width: 992px) {
    .header .navbar {
      border-radius: 5px;
    }
  
    .header .navbar .btn {
      display: none;
    }
  }
  
  .hero {
    background-image: url("https://images.unsplash.com/photo-1620207418302-439b387441b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1267&q=80");
    /* background-size: cover; */
    /* position: absolute; */
    /* height: calc(100% + 40px); */
    /* opacity: 0.8; */
    /* width: 100%; */
    width: calc(100% + 16px);
    padding: 60px;
    margin-top: 60px;
    /* background: linear-gradient(to right bottom, #ad09ad, #3e043e);  */
  }
  
  .hero .text {
    margin-top: 20px;
  }

  .hero h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 300;
    color: #fff;
  }
  
  .hero h2 span {
    color: #efac00;
  }
  
  .hero p {
    margin: 10px 0 20px 0;
    font-size: 22px;
    color: #fff;
  }
  
  .hero a.btn {
    position: relative;
    padding: 15px 30px;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background: gold;
    transition: 0.3s;
  }
  
  .hero a.btn:hover {
    color: #fff;
    background: purple;
  }
  
  .hero .form {
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
  
  .hero .form h3 {
    color: #fff;
    font-weight: 300;
  }
  
  .hero .form input,
  .hero .form select,
  .hero .form textarea {
    color: #fff;
    margin-bottom: 15px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
  }
  
  .hero .form textarea {
    height: 75px;
  }
  
  .hero .form select,
  .hero .form input::placeholder,
  .hero .form textarea::placeholder {
    color: #fff;
  }
  
  .hero .form select option {
    color: #000;
  }
  
  .hero .form .btn {
    position: relative;
    padding: 10px 35px;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
    border: none;
    border-radius: 5px;
    background: gold;
    transition: 0.3s;
  }
  
  .hero .form .btn:hover {
    color: #fff;
    background: purple;
  }
  
  @media (max-width: 767.98px) {
    .hero .form {
      margin-top: 60px;
    }
  }
  
  /********** Popup CSS *********/
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 100;
    padding: 8px;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    text-align: left;
    position: relative;
    border-radius: 8px;
  }

  .popup-content h2 {
    text-align: center;
  }
  
  .close-btn {
    position: absolute;
    top: 12px;
    left: 24px;
    font-size: 32px;
    cursor: pointer;
    color: red;
  }
  
  .popup-content button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
    padding: 0 20px;
    margin-top: 8px;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    background: gold;
    border-radius: 5px;
    transition: 0.3s;
    border: none;
  }
  
  /********** Social Media CSS *********/
  #social-links {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #f2f2f2;
    /* padding: 10px; */
    z-index: 1000;
  }
  
  #social-links a {
    color: #fff;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #whatsapp-link {
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 8px;
    z-index: 1000;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 64px;
  }

  #social-links a span {
    margin-left: 8px;
    color: #ffffff;
  }
  
  #social-links a i {
    margin-right: 8px;
    font-size: 20px;
    color: #ffffff;
  }
  
  #social-links a:last-child i {
    margin: 0;
  }
  
  /******* Section Header ********/
  .section-header {
    position: relative;
    width: 100%;
    max-width: 550px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
    padding-bottom: 15px;
  }
  
  .section-header::before {
    /* position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    left: calc(50% - 50px);
    bottom: 0;
    background: linear-gradient(to left, gold, #00539c, gold);
    border-radius: 100%; */
  }
  
  .section-header::after {
    /* position: absolute;
    content: "";
    width: 20px;
    height: 9px;
    left: calc(50% - 10px);
    bottom: -3px;
    background: #00539c;
    border-radius: 5px; */
  }
  
  .section-header p {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .section-header h2 {
    color: var(--rich-pruple);
    font-size: 50px;
    font-weight: 300;
  }
  
  .section-header.left {
    text-align: left;
  }
  
  .section-header.left::before {
    width: 60px;
    left: 0;
    background: linear-gradient(to left, gold, #00539c, #00539c);
    border-radius: 0 100% 100% 0;
  }
  
  .section-header.left::after {
    left: 0;
    border-radius: 5px;
  }
  
  /********** About CSS **********/
  .about {
    position: relative;
    width: 100%;
    padding: 40px 0;
    background-color: #eee;
  }
  
  .about .about-img img {
    width: 100%;
    border-radius: 5px;
  }
  
  .about .about-text h2 {
    position: relative;
    color: var(--rich-pruple);
    font-size: 40px;
    margin-bottom: 15px;
  }
  
  .about .about-text h2 span {
    font-size: 80px;
  }
  
  .about .about-text p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .about .about-text a.btn {
    padding: 15px 35px;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
    border: none;
    border-radius: 5px;
    background: gold;
    transition: 0.3s;
  }
  
  .about .about-text a.btn:hover {
    color: #ffffff;
    background: #00539c;
  }
  
  @media (max-width: 767.98px) {
    .about .about-img img {
      margin-bottom: 30px;
    }
  }
  
  /********* Service CSS *********/
  .service {
    position: relative;
    width: 100%;
    padding: 45px 0px;
  }
  
  .service .btn {
    margin: auto 0px;
    height: 48px;
    padding: 0 20px;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    background: gold;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .service .btn:hover {
    color: #fff;
    background: purple;
  }
  
  .service .service-item {
    position: relative;
    width: 100%;
    text-align: center;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .service .service-item img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    /* height: 150px; */
    aspect-ratio: 3/2;
  }
  
  .service .service-item h3 {
    margin: 0;
    padding: 25px 15px;
    font-size: 20px;
    font-weight: 400;
    color: var(--rich-pruple);
  }
  
  .service .service-item p::before {
    position: relative;
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 4px;
  }
  
  .service .service-item p {
    margin: 0;
    /* padding: 4px; */
    font-size: 14px;
    text-align: left;
  }
  
  .service .service-item a.btn {
    position: relative;
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    border: none;
    border-radius: 5px;
    background: gold;
    transition: 0.3s;
  }
  
  .service .service-item:hover a.btn {
    color: #ffffff;
    background: #00539c;
  }
  
  .service .service-item a.btn:hover {
    color: #000000;
    background: gold;
  }
  
  /********* Feature CSS *********/
  .glass-card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  .content h2 {
    color: var(--rich-pruple);
  }
  
  .content h3 {
    color: #000;
    font-size: 16px;
    text-align: justify;
  }
  
  .content img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    aspect-ratio: 3/2;
    /* object-fit: contain; */
  }
  
  .feature {
    position: relative;
    width: 100%;
    padding: 40px 0px;
  }
  
  .feature .section-header {
    margin-bottom: 30px;
  }
  
  .feature a.btn {
    margin-top: 10px;
    padding: 15px 35px;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
    border: none;
    border-radius: 5px;
    background: gold;
    transition: 0.3s;
  }
  
  .feature a.btn:hover {
    color: #ffffff;
    background: #00539c;
  }
  
  .feature .feature-item {
    margin-bottom: 30px;
  }
  
  .feature .feature-item img {
    width: 100%;
    border-radius: 5px;
  }
  
  .feature .feature-item h3 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 400;
    color: #00539c;
  }
  
  .feature .feature-item p {
    margin: 0;
    font-size: 16px;
  }
  
  @media (max-width: 767.98px) {
    .feature a.btn {
      margin-bottom: 45px;
    }
  }
  
  /*********** FAQs CSS **********/
  .faqs {
    position: relative;
    width: 100%;
    padding: 45px 0;
  }
  
  .faqs .section-header {
    margin-bottom: 30px;
  }
  
  .faqs img {
    width: 100%;
    border-radius: 5px;
  }
  
  @media (max-width: 767.98px) {
    .faqs img {
      margin-bottom: 30px;
    }
  }
  
  .faqs .card {
    margin-bottom: 15px;
    padding-top: 15px;
    border: none;
    border-radius: 0;
    border-top: 1px solid #eeeeee;
  }
  
  .faqs .card:last-child {
    margin-bottom: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
  }
  
  .faqs .card-header {
    padding: 0;
    border: none;
    background: #ffffff;
  }
  
  .faqs .card-header a {
    display: block;
    width: 100%;
    color: #00539c;
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
  }
  
  .faqs .card-header a span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    background: gold;
    color: #000000;
    border-radius: 5px;
  }
  
  .faqs .card-header [data-toggle="collapse"]:after {
    font-family: "font Awesome 5 Free";
    content: "\f067";
    float: right;
    color: #00539c;
    font-size: 12px;
    font-weight: 900;
    transition: 0.3s;
  }
  
  .faqs .card-header [data-toggle="collapse"][aria-expanded="true"]:after {
    font-family: "font Awesome 5 Free";
    content: "\f068";
    float: right;
    color: #00539c;
    font-size: 12px;
    font-weight: 900;
    transition: 0.3s;
  }
  
  .faqs .card-body {
    padding: 15px 0 0 0;
    font-size: 16px;
    border: none;
    background: #ffffff;
  }
  
  .faqs a.btn {
    margin-top: 30px;
    padding: 15px 35px;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
    border: none;
    border-radius: 5px;
    background: gold;
    transition: 0.3s;
  }
  
  .faqs a.btn:hover {
    color: #ffffff;
    background: #00539c;
  }
  
  /******* Testimonial CSS *******/
  .testimonial {
    position: relative;
    padding: 45px 0;
  }
  
  .testimonial .testimonial-item {
    position: relative;
    margin: 0 15px;
    text-align: center;
  }
  
  .testimonial .testimonial-img {
    position: relative;
    margin-bottom: 15px;
    z-index: 1;
  }
  
  .testimonial .testimonial-item img {
    margin: 0 auto;
    width: 150px;
    border: 15px solid #ffffff;
    border-radius: 100px;
  }
  
  .testimonial .testimonial-content {
    position: relative;
    margin-top: -90px;
    padding: 100px 25px 25px 25px;
    text-align: center;
    background: gold;
    border-radius: 5px;
  }
  
  .testimonial .testimonial-item p {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
  }
  
  .testimonial .testimonial-content h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  
  .testimonial .testimonial-content h4 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
  }
  
  .testimonial .owl-nav,
  .testimonial .owl-dots {
    margin-top: 15px;
    text-align: center;
  }
  
  .testimonial .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: gold;
  }
  
  .testimonial .owl-dot.active {
    background: #00539c;
  }
  
  @media (max-width: 768px) {
    .call-to-action a {
      float: left;
      margin-top: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .story .story-continue::before {
      left: 48.5px;
    }
  
    .story .story-end,
    .story .story-start,
    .story .story-year,
    .story .row.story-left,
    .story .row.story-right .story-date,
    .story .row.story-right,
    .story .row.story-left .story-date,
    .story .story-launch {
      text-align: left;
    }
  
    .story .story-date {
      padding: 0;
    }
  
    .story .row.story-left .story-date::after,
    .story .row.story-right .story-date::after {
      left: 54.5px;
    }
  
    .story .story-box,
    .story .row.story-right .story-date,
    .story .row.story-left .story-date {
      margin-left: 77px;
    }
  
    .story .story-launch .story-box {
      margin-left: 0;
    }
  
    .story .row.story-left .story-box::after {
      left: -20px;
      border-color: transparent #ffffff transparent transparent;
    }
  
    .story .row.story-left .story-box::before {
      left: -22px;
      border-color: transparent #dddddd transparent transparent;
    }
  
    .story .story-launch .story-box::after,
    .story .story-launch .story-box::before {
      left: 30px;
      margin-left: 0;
    }
  }
  
  /********* Contact CSS *********/
  .contact {
    position: relative;
    width: 100%;
    padding: 40px 0;
    background-color: #eee;
  }
  
  .contact .faqs {
    padding: 0;
  }
  
  @media (max-width: 767.98px) {
    .contact .faqs {
      margin-bottom: 10px;
    }
  }
  
  .contact .contact-form input {
    height: 60px;
    border-radius: 5px;
  }
  
  .contact .contact-form .btn {
    height: 48px;
    padding: 0 20px;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    background: gold;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .contact .contact-form .btn:hover {
    color: #fff;
    background: purple;
  }
  
  /******* Single Page CSS *******/
  .single {
    position: relative;
    width: 100%;
    padding: 45px 0 65px 0;
  }
  
  .single h1,
  .single h2,
  .single h3,
  .single h4,
  .single h5,
  .single h6 {
    font-weight: 400;
  }
  
  .single img {
    margin: 10px 0 15px 0;
  }
  
  .single .table,
  .single .list-group {
    margin-bottom: 30px;
  }
  
  .single .section-header h2 {
    font-weight: 300;
  }
  
  /********* Footer CSS **********/
  .footer {
    position: relative;
    padding-top: 90px;
    background: var(--rich-pruple);
    color: #ffffff;
    font-weight: 300;
  }
  
  .footer .footer-contact,
  .footer .footer-link,
  .footer .footer-form {
    position: relative;
    margin-bottom: 45px;
  }
  
  .footer .footer-contact h2,
  .footer .footer-link h2,
  .footer .footer-form h2 {
    position: relative;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    color: gold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .footer .footer-contact a {
    display: block;
    margin: 10px 0px;
    font-size: 14px;
    color: #fff;
  }
  
  .footer .footer-contact a i {
    width: 25px;
    margin-right: 2px;
  }
  
  .footer .footer-social {
    position: relative;
    margin-top: 25px;
  }
  
  .footer .footer-social a {
    display: inline-block;
  }
  
  .footer .footer-social a i {
    margin-right: 15px;
    font-size: 25px;
    color: #ffffff;
  }
  
  .footer .footer-social a:last-child i {
    margin: 0;
  }
  
  .footer .footer-social a:hover i {
    color: gold;
  }
  
  .footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #ffffff;
  }
  
  .footer .footer-link a::before {
    position: relative;
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
  }
  
  .footer .footer-link a:hover {
    color: gold;
  }
  
  .footer .footer-form input {
    height: 45px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
  }
  
  .footer .footer-form .btn {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 45px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    background: gold;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .footer .footer-form .btn:hover {
    color: #fff;
    background: purple;
  }
  
  .footer .footer-menu {
    position: relative;
    padding: 15px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .footer .footer-menu .f-menu {
    font-size: 0;
    text-align: center;
  }
  
  .footer .footer-menu .f-menu a {
    color: #ffffff;
    font-size: 14px;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #ffffff;
  }
  
  .footer .footer-menu .f-menu a:hover {
    color: gold;
  }
  
  .footer .footer-menu .f-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }
  
  .footer .copyright {
    padding: 30px 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .footer .copyright p {
    margin: 0;
    font-size: 14px;
  }
  
  .footer .copyright .col-md-6:last-child p {
    text-align: right;
  }
  
  .footer .copyright p a {
    color: gold;
    font-weight: 400;
  }
  
  .footer .copyright p a:hover {
    color: #ffffff;
  }
  
  @media (max-width: 768px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
      margin: 5px 0;
      text-align: center;
    }
  }
  